// Colors
$white: #fff;
$black: #202020;
$gray: #868686;
$gray-light: #DADADA;
$mint-dark: #015F69;
$pink: #FA97FF;

// Breakpoints
$xsmall: 320px;
$small: 575px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;
$xxlarge: 1440px;
$xxxlarge: 1920px;

// Fonts
// $causten: 'Causten', sans-serif;
// $alias: 'Alias', impact, sans-serif;