@import "tailwindcss";

/* summary {
  display: block;
  cursor: pointer;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

label {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="search"] {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: textfield;
}

.sr-clickable {
  position: absolute !important;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  color: transparent;
  opacity: 0;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 0;
  width: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
} */