@use 'helpers' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//   font-family: "Causten";
//   src: url('./Causten.woff2') format("woff2");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 400;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "Causten";
//   src: url('./Causten-Bold.otf') format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 700;
//   font-stretch: normal;
// }

summary {
  display: block;
  cursor: pointer;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

label {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"],
input[type="search"] {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: textfield;
}

.sr-clickable {
  position: absolute !important;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  color: transparent;
  opacity: 0;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 0;
  width: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}